@import "lib.less";

.list-group-inner li {
 border:none;
}

.product-price {
  background-color: @mainColor;
  border: 1px solid black;
  color: #FFF;
  font-style: italic;
  padding: 5px;
  margin-bottom: 20px;
}

.modal-admin a {
  color: #FFF;
}

.modal-admin {
  margin: 0 3px;
}

.product-price a {
  color: #FFF;
}

.catalog-categories {
  list-style-type: none;
  margin-left: -15px;
  margin-right: -15px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.catalog-categories > li > a:first-child {
  font-weight: bold;
  font-size: 1.3em;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  margin-bottom: 5px;
  color: black;
  poinfter-events: none;
}

.catalog-nav-item {
  bordedr: 1px solid #ddd;
  border-radius: 8px;
  padding: 2px 0;
}

.catalog-categories > li > ul > li {
  margin-left: -10px;
  list-style-type: none;
}

.catalog-categories > li > ul > li > ul{
  margin-left: -5px;
}

.product-name {
    font-weight: bold;
    height: 50px;
}

.product-description {
  font-size: 12px;
  min-height: 150px;
  max-height: 150px;
}

.product-tile {
    height: 570px;
    margin-bottom: 25px;
}

.product-modal {
  margin: 0 auto;
}

.modal-header {
  background: @mainColor;
  color: #FFF;
  border: none;
  .DefaultShadow;
}

.modal-body {
  width: auto;
  margin: 0 auto;
}

.product-pagination li a .active{
    color: red;
}

.breadcrumb {
  background-color: #fff;
  margin-left: -13px;
}

.breadcrumb li:last-of-type a {
  pointer-events: none;
  color: black;
}

.img-catalog img {
  height: 250px;
  max-height: 250px;
}

.search-products {
  margin-bottom: 15px;
}