@primaryColor: @indigo;
@boxShadowColor: #5a5a5a;

@defaultFontColor: #000000;

.box-shadow (@string) {
	-webkit-box-shadow: @string;
	-moz-box-shadow:    @string;
	box-shadow:         @string;
}

.border-radius (@string) {
	-webkit-border-radius: @string;
	-moz-border-radius:    @string;
	border-radius:         @string;
}

.opacity (@string) {
	-webkit-opacity: @string;
	-moz-opacity:    @string;
	opacity: 		 @string;
}