@import "lib.less";
@import "admin.less";
@import "catalog.less";
@import "products.less";
@import "faq.less";
@import "home.less";
@import "nav.less";
@import "servicing.less";

body {
  margin-top: 70px;
  font-family: Arial, Helvetica, sans-serif;
}
h1, h2, h3, h4 {
  font-weight: 300;
  margin-right: 0;
  margin-left: 0;
}
p {

}

.content p {
    line-height: 30px;
    font-size: 16px;
}

.bottom{
    font-size: 12px;
}

.text {
    text-indent: 20px;
}

.bottom-nav{
    list-style-type: none;
    margin-left: -40px;
}

label.bg-danger, span.bg-success {
  padding: 5px;
  margin-top: 5px;
}

.noscript {
  visibility: hidden;
}



.alert-info, .alert-success, .alert-danger, .alert-warning {
  padding: 1em;
  margin: 1em 0;
}

.location-image {
  bordger: 1px solid #000;
  box-shadow: 5px 5px 5px #AAA;
  margin-bottom: 10px;
}