.material-flat-button {
	display: inline-block;
	text-transform: uppercase;
	margin-bottom: -5px;
	cursor: pointer;
	a {
		padding: 15px;
		text-decoration: none;
	}

	a:hover {
		color: @blue;
		background: @indigo-100;
		text-decoration: none;
	}

	a:active {
		background: @indigo-200;
	}
}

.material-flat-product {
	padding: 10px;
	color: @indigo;
	display: inline-block;
	margin: 5px;
	margin-bottom: 0;
	margin-right: -12px;
	text-align: right;
	float: right;
}

.material-flat-add {
	padding: 10px 0;

	a {
		color: @green;
	}

	a:hover {
		color: @green;
		background: @green-100;
		text-decoration: none;
	}

	a:active {
		background: @green-200;
	}

}

.material-flat-delete {
	padding: 10px 0;

	a {
		color: @red;
	}

	a:hover {
		color: @red;
		background: @red-100;
		text-decoration: none;
	}

	a:active {
		background: @red-200;
	}
}

.material-flat-edit {
	padding: 10px 0;
}