/*
	Dark Blue:  #0064AB
	Light Blue: #B3C5EE


*/
body {
  margin-top: 70px;
  font-family: Arial, Helvetica, sans-serif;
}
h1, h2, h3, h4 {
  font-weight: 300;
  margin-right: 0;
  margin-left: 0;
}
p {

}

.top {
	background-color: #0064AB;
  padding: 0 15px;
  box-shadow: 0 0 20px #000;
}
.top .navbar-brand {
	height: 50px;
	line-height: 50px;
	text-align: center;
	padding: 0 10px;
	background-color: #0064AB;
	color: #FFF;
	text-decoration: none;
  cursor: default;
}

.top .navbar-collapse {
  padding: 0px;
}

.top .container {
	padding: 0;
}

.navbar-nav li a {
  color: #FFF; //Originally #D8DFEE
}
.navbar-nav li a:hover {
  background-color: #007BAB;
}

.navbar-toggle {
	color: #B3C5EE;
	font-size: 32px;
	margin: 3px;
	padding: 2px 5px;
	line-height: 32px;
}
.navbar-toggle:hover {
    background-color: #007BAB;
}
.navbar-nav {
    margin: 0;
}

.content p {
    line-height: 30px;
    font-size: 16px;
}

.bottom{
	font-size: 12px;
}

.text {
	text-indent: 20px;
}

.bottom-nav{
	list-style-type: none;
	margin-left: -40px;
}

.product-price{
  background-color: #0064AB;
  bforder: 1px solid black;
  color: #FFF;
  font-style: italic;
  padding: 5px;
  margin-bottom: 20px;
}

.modal-admin a {
  color: #FFF;
}

.product-price a {
  color: #FFF;
}

label.bg-danger, span.bg-success {
  padding: 5px;
  margin-top: 5px;
}

.noscript {
  visibility: hidden;
}

.catalog-categories {
  list-style-type: none;
  margin-left: -15px;
  margin-right: -15px;
}

.product-name {
    font-weight: bold;
    height: 50px;
}

.product-description {
  font-size: 12px;
  height: 17 0px;
}

.product-tile {
    height: 550px;
    margin-bottom: 15px;
}

.product-modal {
  margin: 0 auto;
}

.modal-header {
  background: #0064AB;
  color: #FFF;
  border: none;
  box-shadow: 0px 0px 20px #000;
}

.modal-body {
  width: auto;
  margin: 0 auto;
}

.product-pagination li a .active{
    color: red;
}

.breadcrumb {
  background-color: #fff;
  margin-left: -13px;
}

.alert-info, .alert-success, .alert-danger, .alert-warning {
  padding: 1em;
  margin: 1em 0;
}

.navbar-text {
  color: #fff;
}

.navbar-text a {
  color: #FFF;
}

.admin-sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  height: 100%;
  margin-left: -250px;
  margin-top: -20px;
  overflow-y: auto;
  background: #007BAB;
  padding: 0 20px 0 10px;
  color: #FFF;
}

.admin-sidebar-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.admin-sidebar-nav li {
  margin: 10px 0;
}

.admin-sidebar-nav a {
  color: #FFF;
}

@media(max-width:1260px) {
   .admin-sidebar-wrapper {
     margin-left: -500px;
   }
}

ul.navbar-nav li.dropdown a.dropdown-toggle:hover,
ul.navbar-nav li.dropdown a.dropdown-toggle:active,
ul.navbar-nav li.dropdown a.dropdown-toggle:visited,
ul.navbar-nav li.dropdown a.dropdown-toggle:focus {
  background: #007BAB;
}

ul.navbar-nav li.dropdown ul.dropdown-menu {
  background: #0064AB;
  border: 1px solid black;
  border-top: 0px;
}

ul.navbar-nav li.dropdown ul.dropdown-menu li a:hover{
  background: #007BAB;
  color: #FFF;
}

.img-catalog img {
  height: 250px;
  max-height: 250px;
}

.location-image {
  bordger: 1px solid #000;
  box-shadow: 5px 5px 5px #AAA;
  margin-bottom: 10px;
}

.search-products {
  margin-bottom: 15px;
}