::-webkit-scrollbar {
  background-color: #e8eaf6;
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #e8eaf6;
}
::-webkit-scrollbar-thumb {
  background-color: #c5cae9;
}
::-webkit-scrollbar-button {
  background-color: #9fa8da;
}
::-webkit-scrollbar-corner {
  background-color: #7986cb;
}
body {
  font-family: 'Roboto', sans-serif;
  margin-top: 100px;
  background: #e8eaf6;
}
.sidebar-header-link {
  display: block;
}
.location-image {
  -webkit-box-shadow: 0 0 5px #5a5a5a;
  -moz-box-shadow: 0 0 5px #5a5a5a;
  box-shadow: 0 0 5px #5a5a5a;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 10px;
}
a {
  text-decoration: none;
  color: #2196f3;
  outline: none;
}
a:hover {
  color: #0d47a1;
}
a:visited {
  color: #2196f3;
}
p {
  margin: 0;
  padding: 0;
}
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}
.material-icons.indigo500 {
  color: #3f51b5;
}
.material-icons.green500 {
  color: #4caf50;
}
.material-icons.red500 {
  color: #f44336;
}
.material-icons.redA700 {
  color: #d50000;
}
.material-icons.grey700 {
  color: #616161;
}
.material-icons.teal500 {
  color: #009688;
}
.material-icons.yellowA700 {
  color: #ffd600;
}
.material-icons.deep-purple500 {
  color: #673ab7;
}
.material-icons.md-white {
  color: #ffffff;
}
.material-icons.md-success {
  color: #4caf50;
}
.material-icons.md-error {
  color: #f44336;
}
.material-icons.md-info {
  color: #2196f3;
}
.z-index-10 {
  position: relative;
  z-index: 10;
}
.z-index-20 {
  position: relative;
  z-index: 20;
}
.z-index-25 {
  position: relative;
  z-index: 25;
}
.z-index-30 {
  position: relative;
  z-index: 30;
}
.z-index-35 {
  position: relative;
  z-index: 35;
}
.navbar-inverse {
  background: #3f51b5;
  -webkit-box-shadow: 0px 3px 5px #5a5a5a;
  -moz-box-shadow: 0px 3px 5px #5a5a5a;
  box-shadow: 0px 3px 5px #5a5a5a;
  border-color: transparent;
  margin: 0;
  margin-bottom: 20px;
  height: 60px;
  position: fixed;
  z-index: 10;
}
.navbar-inverse .brand-header {
  width: 230px;
}
.navbar-inverse .brand-header a {
  line-height: 60px;
  font-size: 1.4em;
  color: #fff;
  text-decoration: none;
}
.navbar-inverse .material-icons {
  color: #fff;
  float: left;
  line-height: 60px;
  margin: 0 15px;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  margin-right: 320px;
  width: 230px;
  background: #fff;
  min-height: 100vh;
  max-height: auto;
  -webkit-box-shadow: 3px 60px 15px #5a5a5a;
  -moz-box-shadow: 3px 60px 15px #5a5a5a;
  box-shadow: 3px 60px 15px #5a5a5a;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.sidebar .nav {
  background: #3f51b5;
}
.sidebar .nav .brand-header a {
  line-height: 60px;
  font-size: 1.4em;
  color: #fff;
  text-decoration: none;
}
.sidebar .nav .material-icons {
  color: #fff;
  float: left;
  line-height: 60px;
  margin: 0 15px;
}
.sidebar .sidebar-header {
  width: 100%;
  height: 140px;
  background: #5c6bc0;
  border-bottom: 2px solid #3f51b5;
  padding: 20px 0;
  color: #fff;
  margin-bottom: 0;
}
.sidebar .sidebar-header a {
  color: #ffffff;
  text-decoration: none;
}
.sidebar .sidebar-header a:hover {
  text-decoration: none;
}
.sidebar .sidebar-header .user-image {
  border-radius: 100px;
  padding-left: 15px;
}
.sidebar .sidebar-header .user-info {
  width: 100%;
  padding-left: 20px;
}
.sidebar .sidebar-header .user-info .username {
  font-size: 20px;
}
.sidebar .sidebar-header .user-info .dropdown-menu {
  list-style-type: none;
  margin: -20px 0 0 20px;
  padding: 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.sidebar .sidebar-header .user-info .dropdown-menu li {
  margin: 0;
  padding: 0;
  text-align: left;
}
.sidebar .sidebar-header .user-info .dropdown-menu li a {
  display: block;
  padding: 10px 20px;
  color: #000000;
  text-decoration: none;
}
.sidebar .sidebar-header .user-info .dropdown-menu li a .material-icons {
  vertical-align: middle;
  margin-right: 10px;
}
.sidebar .sidebar-header .user-info .dropdown-menu li a:hover {
  text-decoration: none;
  background: #e8eaf6;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.sidebar .sidebar-search {
  margin-bottom: -45px;
  width: 100%;
}
.sidebar .sidebar-search input,
.sidebar .sidebar-search label,
.sidebar .sidebar-search .bar {
  width: 100%;
}
.sidebar .sidebar-search input:focus ~ label,
.sidebar .sidebar-search input:valid ~ label {
  color: transparent;
  width: 100%;
}
.sidebar .sidebar-nav {
  overflow-y: auto;
  height: auto;
  max-height: 900px;
}
@media (max-height: 1000px) {
  .sidebar .sidebar-nav {
    height: 700px;
  }
}
@media (max-height: 768px) {
  .sidebar .sidebar-nav {
    height: 320px;
  }
}
@media (max-height: 480px) {
  .sidebar .sidebar-nav {
    height: 200px;
  }
}
.sidebar .sidebar-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.sidebar .sidebar-nav ul li {
  margin: 0;
  padding: 0;
  text-align: left;
}
.sidebar .sidebar-nav ul li a {
  display: block;
  padding: 20px;
  color: #000000;
  text-decoration: none;
}
.sidebar .sidebar-nav ul li a .material-icons {
  vertical-align: middle;
  margin-right: 20px;
}
.sidebar .sidebar-nav ul li a:hover {
  text-decoration: none;
  background: #e8eaf6;
}
@media (max-width: 1280px) {
  .sidebar {
    left: -100%;
    width: 85%;
  }
}
@media (max-width: 1280px) {
  .toggled {
    left: 0;
    width: 85%;
  }
}
@media (min-width: 1280px) {
  .toggled {
    left: -260px;
  }
}
/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  color: #FFF;
  background: #000000;
  /* fallback color */
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}
/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}
.featurette-divider {
  margin: 80px 0;
  /* Space out the Bootstrap <hr> more */
}
/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}
/* Bump up size of carousel content */
.carousel-caption p {
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 1.4;
}
.featurette-heading {
  font-size: 50px;
}
@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
.ripple-effect {
  position: relative;
  overflow: hidden;
  -webkit-transform: translatez(0);
}
.ink {
  display: block;
  position: absolute;
  pointer-events: none;
  border-radius: 50%;
  transform: scale(0);
}
.ink {
  background: #fff;
  opacity: 1;
}
.ink.animate {
  -webkit-animation: ripple-effect 0.5s linear;
  -o-animation: ripple-effect 0.5s linear;
  animation: ripple-effect 0.5s linear;
}
@keyframes ripple-effect {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -o-transform: scale(2.5);
    transform: scale(2.5);
  }
}
@-webkit-keyframes ripple-effect {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -o-transform: scale(2.5);
    transform: scale(2.5);
  }
}
@-moz-keyframes ripple-effect {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -o-transform: scale(2.5);
    transform: scale(2.5);
  }
}
@-ms-keyframes ripple-effect {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -o-transform: scale(2.5);
    transform: scale(2.5);
  }
}
@-o-keyframes ripple-effect {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -o-transform: scale(2.5);
    transform: scale(2.5);
  }
}
.content {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.content .content-wrapper {
  padding: 0;
}
@media (max-width: 1280px) {
  .content {
    top: 0;
    z-index: 0;
  }
}
@media (max-width: 920px) {
  .content {
    top: 0;
    margin: 10px 10px 10px 10px;
    z-index: 0;
  }
}
.content .content-card {
  -webkit-box-shadow: 0px 0px 8px #5a5a5a;
  -moz-box-shadow: 0px 0px 8px #5a5a5a;
  box-shadow: 0px 0px 8px #5a5a5a;
  margin-bottom: 30px;
  background: #ffffff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 20px;
}
@media (max-width: 1280px) {
  .content .content-card {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: transparent;
  }
}
.footer {
  font-size: 12px;
  text-align: center;
}
.form-header {
  margin-bottom: 20px;
}
.group {
  position: relative;
  margin-bottom: 45px;
  /* LABEL ======================================= */
  /* active state */
  /* BOTTOM BARS ================================= */
  /* active state */
  /* HIGHLIGHTER ================================== */
  /* active state */
  /* ANIMATIONS ================ */
}
.group input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #757575;
  background: transparent;
}
.group input:focus {
  outline: none;
}
.group label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.group input:focus ~ label,
.group input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #5264AE;
  width: 100%;
}
.group .bar {
  position: relative;
  display: block;
  width: 100%;
}
.group .bar:before,
.group .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264AE;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.group .bar:before {
  left: 50%;
}
.group .bar:after {
  right: 50%;
}
.group input:focus ~ .bar:before,
.group input:focus ~ .bar:after {
  width: 50%;
}
.group .highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}
.group input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}
@-webkit-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}
.search {
  margin-bottom: -45px;
  width: 100%;
}
.search input,
.search label,
.search .bar {
  width: 100%;
}
.checkbox-group {
  position: relative;
}
/* Hide Checkbox Input */
.checkbox-group input[type=checkbox] {
  display: none;
}
/* Style Label */
.checkbox-group label {
  padding-left: 30px;
  cursor: pointer;
}
/* Style span tag */
.checkbox-group label span {
  display: block;
  position: absolute;
  left: 0;
  -webkit-transition-duration: .3s;
  -moz-transition-duration: .3s;
  transition-duration: 0.3s;
}
/* Style box */
.checkbox-group label .box {
  border: 1px solid #616161;
  height: 20px;
  width: 20px;
  z-index: 9;
  -webkit-transition-delay: .2s;
  -moz-transition-delay: .2s;
  transition-delay: 0.2s;
}
/* Style check icon. give it a border on the bottom and right only and then rotate */
.checkbox-group label .check {
  top: 0;
  left: 7px;
  width: 7px;
  height: 15px;
  border: 2px solid #ffffff;
  border-top: none;
  border-left: none;
  opacity: 0;
  z-index: 10;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
  /*-webkit-transition-delay:.3s;
    -moz-transition-delay:.3s;
    transition-delay:.3s*/
}
/* Change color of box when checkbox is checked */
input[type=checkbox]:checked ~ label .box {
  border: none;
}
/* Rotate and show check icon when checkbox is checked */
input[type=checkbox]:checked ~ label .check {
  border-color: #4caf50;
  opacity: 1;
  -webkit-transform: scale(1) rotate(45deg);
  -moz-transform: scale(1) rotate(45deg);
  transform: scale(1) rotate(45deg);
}
.fab {
  list-style-type: none;
  position: fixed;
  top: 35px;
  right: 6%;
}
.fab .fab-main {
  width: 50px;
  height: 50px;
  background: #ff6d00;
  margin-bottom: 10px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  -webkit-box-shadow: 2px 2px 10px #5a5a5a;
  -moz-box-shadow: 2px 2px 10px #5a5a5a;
  box-shadow: 2px 2px 10px #5a5a5a;
  text-align: center;
}
.fab .fab-main .material-icons {
  line-height: 50px;
}
.fab .fab-item {
  margin: 0 0 25px 3px;
  width: 44px;
  height: 44px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  -webkit-box-shadow: 2px 2px 10px #5a5a5a;
  -moz-box-shadow: 2px 2px 10px #5a5a5a;
  box-shadow: 2px 2px 10px #5a5a5a;
  text-align: center;
}
.fab .fab-item .material-icons {
  line-height: 44px;
}
.fab .fab-deep-purple {
  background: #673ab7;
}
.fab .fab-light-blue {
  background: #03a9f4;
}
.fab li a {
  display: block;
}
.fab ul {
  margin: 0;
  padding: 0;
}
.fab ul li a {
  display: block;
}
.toast {
  position: fixed;
  display: none;
  bottom: 30px;
  width: 500px;
  left: 0;
  right: 0;
  margin: 0 auto;
  word-wrap: break-word;
  height: auto;
  text-align: justify;
  background: #212121;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-box-shadow: 5px 5px 20px #5a5a5a;
  -moz-box-shadow: 5px 5px 20px #5a5a5a;
  box-shadow: 5px 5px 20px #5a5a5a;
  -webkit-opacity: 0.85;
  -moz-opacity: 0.85;
  opacity: 0.85;
  padding: 20px;
}
@media (max-width: 1024px) {
  .toast {
    width: 270px;
  }
}
.toast .material-icons {
  vertical-align: middle;
  position: relative;
  z-index: 40;
  float: left;
  padding: 0;
  margin: 0;
  width: 5%;
}
.toast .toast-message {
  position: relative;
  color: #ffffff;
  text-align: center;
  padding: 0 10px;
  display: inline-block;
  bacdkground: blue;
  marign: 0 auto;
  width: 90%;
  vertical-align: middle;
}
.faq a {
  text-decoration: none;
  color: #000000;
  margin: 0;
  padding: 0;
}
.faq a .question-heading {
  margin: 0;
  padding: 0;
  font-size: 20px;
}
.faq a .question-heading .material-icons {
  vertical-align: middle;
}
.faq a:hover {
  color: #000000;
}
.faq .faq-answer {
  padding-top: 20px;
}
.faq .faq-answer a {
  color: #2196f3;
}
.faq .faq-answer a:hover {
  color: #0d47a1;
}
.content {
  max-width: 2000px;
}
.content .breadcrumb {
  background: transparent;
  padding: 0;
}
.content .breadcrumb li:last-of-type a {
  color: #616161;
  pointer-events: none;
}
.content .catalog-menu {
  max-width: 250px;
  margin-left: 0;
}
@media (max-width: 1280px) {
  .content .catalog-menu {
    margin-right: 40px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: transparent;
  }
}
.content .catalog-menu h2 {
  padding-bottom: 5px;
  border-bottom: 1px solid #3f51b5;
  color: #000;
}
.content .catalog-menu ul.catalog-categories {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.content .catalog-menu ul.catalog-categories > li {
  width: 100%;
}
.content .catalog-menu ul.catalog-categories > li > a:first-child {
  display: inline-block;
  width: 100%;
  font-weight: bold;
  font-size: 1.2em;
  border-bottom: 1px solid #3f51b5;
  padding-bottom: 5px;
  margin-bottom: 5px;
  color: #000;
}
.content .catalog-menu ul.catalog-categories > li > a:hover {
  text-decoration: none;
}
.content .catalog-menu ul.catalog-categories > li > ul {
  margin-left: -24px;
  list-style-type: none;
}
.content .catalog-menu ul.catalog-categories > li > ul li {
  margin-left: -15px;
}
.content .catalog-menu ul.catalog-categories .catalog-nav-item {
  padding: 2px 0;
}
.content .featured {
  margin: 0;
  margin-bottom: 30px;
}
.content .featured h2 {
  padding-bottom: 5px;
  border-bottom: 1px solid #3f51b5;
  color: #000;
}
.content .featured .featured-product {
  padding: 10px 0;
}
.content .featured .featured-product h3 {
  color: #000;
}
.content .featured .featured-product .featured-img {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  max-width: 400px;
  max-height: 400px;
}
.content .featured .featured-product .featured-description {
  padding: 10px 0;
}
.content .featured .featured-product .call-for-price {
  padding-top: 15px;
  text-transform: uppercase;
  color: #3f51b5;
  display: block;
}
.content .content-card {
  margin-right: 20px;
}
.content .product-heading {
  padding-bottom: 5px;
  border-bottom: 1px solid #3f51b5;
  color: #000;
}
.content .product-tile {
  width: 20%;
  height: 370px;
  max-height: 500px;
  float: right;
  margin-right: 0;
  margin-left: 3%;
}
.content .product-tile .product-img {
  disply: block;
  margin: 0 auto;
  height: 150px;
  overflow: hidden;
  margin-bottom: 5px;
}
.content .product-tile .product-name {
  height: 50px;
  font-size: 15px;
}
.content .product-tile .product-description {
  height: 70px;
}
.material-flat-button {
  display: inline-block;
  text-transform: uppercase;
  margin-bottom: -5px;
}
.material-flat-button a {
  padding: 15px;
  text-decoration: none;
}
.material-flat-button a:hover {
  color: #2196f3;
  background: #c5cae9;
  text-decoration: none;
}
.material-flat-button a:active {
  background: #9fa8da;
}
.material-flat-product {
  padding: 10px;
  color: #3f51b5;
  display: inline-block;
  margin: 5px;
  margin-bottom: 0;
  margin-right: -12px;
  text-align: right;
  float: right;
}
.material-flat-add {
  padding: 10px 0;
}
.material-flat-add a {
  color: #4caf50;
}
.material-flat-add a:hover {
  color: #4caf50;
  background: #c8e6c9;
  text-decoration: none;
}
.material-flat-add a:active {
  background: #a5d6a7;
}
.material-flat-delete {
  padding: 10px 0;
}
.material-flat-delete a {
  color: #f44336;
}
.material-flat-delete a:hover {
  color: #f44336;
  background: #ffcdd2;
  text-decoration: none;
}
.material-flat-delete a:active {
  background: #ef9a9a;
}
.material-flat-edit {
  padding: 10px 0;
}
.location-list {
  list-style-type: none;
  margin: 5px 0;
}
.location-list .material-icons {
  vertical-align: middle;
  margin-right: 10px;
  margin-left: -30px;
}
.material-table {
  width: auto;
  padding: 0;
  margin: 0;
}
.material-table th {
  text-align: center;
  border-bottom: 1px solid black;
  font-size: 24px;
  width: 20%;
}
.material-table tr td {
  text-align: center;
  border-bottom: 1px solid black;
  width: 20%;
  padding: 10px 0;
}
.material-table tr:nth-child(even) {
  background: #e8eaf6;
}
